<!DOCTYPE html>
<html>
<head>
	<title>Login page</title>
 <style type="text/css">
 	form
 	{
 		background-color:gold;
 		text-align:center;
 		margin:20px 600px 20px 600px;
 	};
 </style>
</head>
<body>
   <div><h2 style="margin:20px 600px 20px 600px;background-color:aqua;">Login form</h2></div>
  <form>
   <label>Username :</label>
   <input type="text" name="" placeholder="enter your Username"></br></br>
   <label>Password :</label>
   <input type="Password"name="" placeholder="enter your password"></br></br>
   <button><strong>submit</strong></button>
  </form>
</body>
</html>