{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Registration form</title>
	<link rel="stylesheet" type="text/css" href="/static/css/sample.css">
</head>
<body>
	<h2 style="text-align:center;background-color:aqua;margin:0px 600px 0px 600px;">Registration Form</h2>
<form>
<label>Username :</label>
<input type="text" name="" placeholder="enter your Username"></br></br>
<label>Password :</label>
<input type="password" name="" placeholder="enter your password"></br></br>
<label>Mail-ID :</label>
<input type="text" name="" placeholder="enter your Mail-ID"></br></br>
<button type="submit"><Strong>Subscribe</Strong></button>
</form>
</body>
</html>